Package: com.level3tjg.usaabp
Name: USAABP
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypass USAA Jailbreak Detection
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
